
<link href="/static/css/style1.css" type="text/css" rel="stylesheet">
<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/daterangepicker.css" />
<div style="border: 2px;border-color: #0f9ae0;height: auto;width: auto;padding-top: 25px ;">
    <form class="navbar-form navbar" role="search" style="margin-left: auto;margin-right: auto;width: 600px;">
      <span class="glyphicon glyphicon-plane fa fa-plane" aria-hidden="true" style="padding: 5px"></span>
      <div class="form-group">
        <input type="text" class="area-danxuan form-control" placeholder="选择地点" style="width: 120px"  value="" data-value="">
      </div>
      <span class="glyphicon glyphicon-calendar fa fa-calendar"aria-hidden="true" style="padding: 5px"></span>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="选择日期" id="demo" style="width: 200px">
      </div>
      <button type="submit" class="btn btn-info" style="width: 150px;height: 44px">搜索</button>
    </form>
</div>

