{% extends "base.html" %}
{% block content %}
{% load myfilter %}
    <section class="border-top">
	<div class="container">
		<div class="page-title mrgb3x mrgt6x clearfix">
			<h4 class="page-name">归宿短租  旅游攻略</h4>
			<div class="tag-bar"> <a href="#"><span>整点好玩的</span></a> </div>
		</div>
	</div>
</section>
<div class="container">
<div class="row">
	<div class="col-md-9 blog-rightbar">
		<div class="blog-section mrgb9x clearfix animated out" data-delay="0" data-animation="fadeInUp">
			<div class="blogsingle-img"><a href="#"><img src="/static/images/nd123.jpeg" class="img-responsive" alt="#" /></a><a href="images/blog-img2.jpg"></a><a href="images/blog-img3.jpg"></a></div>
			<div class="blog-text"> <span>发布于2020年4月15日</span>
				<h4>长沙必去景点--湖南农业大学</h4>
				<span class="post-detail">城市：长沙</span>
				<p>一所坐落在长沙市芙蓉区的美丽高校，无论是春天的油菜花、还是秋天的红枫，随时一拍都是美景。或许除了岳麓山，长沙最好的空气就在这。漫步在校园林荫之下，或是静静地躺在柔软的草坪感受阳光洒下的温暖。而这里，除了美景还有美食，你是否还在对学生时期的街边小吃念念不忘，这湖南农大，这都能满足你，当然还有...</p>
				<div class="read-btn"> <a href="#" class="read-more">阅读全文</a> </div>
			</div>
		</div>
		<div class="blog-section mrgb9x clearfix animated out" data-delay="0" data-animation="fadeInUp">
			<div class="blogsingle-img"><a href="#"><img src="/static/images/zj123.jpg" class="img-responsive" alt="#" /></a><a href="images/blog-img1.jpg"></a><a href="images/blog-img3.jpg"> </a> </div>
			<div class="blog-text"> <span>发布于2020年4月12日</span>
				<h4>中国大陆最南端的魅力</h4>
				<span class="post-detail">城市：湛江</span>
				<p>湖光岩风景区位于中国大陆最南端湛江西南郊，2006年9月被联合国教科文组织批准为世界地质公园，是雷州半岛上山清水秀，风景奇特的游览胜地。
景区由火山口湖与火山熔岩组成，湖光岩大约形成于20万年前，是我国现存的三座火山湖之一，也是世界上除德国的Manderscheid之外仅存的玛珥湖，具有天然的自我净化功能，无论旱涝都永远不会干涸。
奇特的是，在这座生态环境良好纯净的湖内没有任何青蛙和蛇等常见水生动物，落叶无影无踪，相传湖中还有曾救助过溺水者的龙鱼和神龟，并且湖内气温常比湖外低了3度，为这座火山湖更添一分神秘气息...</p>
				<div class="read-btn"> <a href="#" class="read-more">阅读全文</a> </div>
			</div>
		</div>
		<div class="blog-section mrgb6x clearfix animated out" data-delay="0" data-animation="fadeInUp">
			<div class="blogsingle-img"><a href="#"><img src="/static/images/cs123.jpeg" class="img-responsive" alt="#" /></a><a href="images/blog-img1.jpg"></a><a href="images/blog-img2.jpg"> </a> </div>
			<div class="blog-text"> <span>发布于2020年4月12日</span>
				<h4>用最低的预算带你游遍美丽星城</h4>
				<span class="post-detail">城市：长沙</span>
				<p>清晨，让一碗都正街的地道长沙粉面唤醒你！之后速速开启在长沙城中闲逛的一天～对文化历史感兴趣的小伙伴，可以来湖南大学、岳麓书院、湖南第一师范逛一逛；下午来到杜甫江阁欣赏日落黄昏；夜晚的活色生香当然要留给太平街的美食，几个人一起打卡长沙特色口味虾，简直不要太爽...</p>
				<div class="read-btn"> <a href="#" class="read-more">阅读更多</a> </div>
			</div>
		</div>
		<div class="numbering mrgb5x">
			<ul class="pagination">
				<li class="active"><a href="#">01</a></li>
				<li><a href="#">02</a></li>
				<li><a href="#">03</a></li>
				<li><a href="#">04</a></li>
				<li><a href="#">05</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-3">
		<div class="right-side-bar">
			<div class="search-for animated out" data-delay="0" data-animation="fadeInUp">
				<div class="rightbar-heading mrgb3x">
					<h4>搜索攻略</h4>
				</div>
				<div class="widget search">
					<form method="post" action="#">
						<input type="text" class="form-control" placeholder="输入城市搜索">
						<input type="submit" value="submit">
					</form>
				</div>
			</div>

		</div>
	</div>
	</div>
</div>

{% endblock %}