{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row" style="height: 500px">
      <aside class="profile-info col-lg-3">
        <div class="panel" style="border-right: 1px solid #cccccc; height: 400px;margin: 20px">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked" style="font-size: 18px;color: black">
            {% url 'uc:profile' as uc_profile %}
            {% url 'uc:change_passwd' as uc_change_passwd %}
            {% url 'uc:answer' as uc_answer %}
            {% url 'uc:collect' as uc_collect %}
            {% url 'uc:order' as uc_order %}
            {% url 'uc:myhouse' as uc_myhouse %}
            <li role="presentation" ><a href="{{ uc_profile }}" {% if request.path == '/uc/profile/' %}style="color: #0070ff"{% else %}style="color: #0a274e"{% endif %}><b>个人资料</b></a></li>
            <li role="presentation" ><a href="{{ uc_change_passwd }}" {% if request.path == '/uc/change_passwd/' %}style="color: #0070ff"{% else %}style="color: #0a274e"{% endif %}><b>修改密码</b></a></li>
    {#        <li role="presentation" class="{% if current_url == uc_answer %}active{% endif %}"><a href="{{ uc_answer }}">我的回答</a></li>#}
            <li role="presentation" ><a href="{{ uc_collect }}" {% if request.path == '/uc/collect/' %}style="color: #0070ff"{% else %}style="color: #0a274e"{% endif %}><b>我的收藏</b></a></li>
            <li role="presentation" ><a href="{{ uc_order }}" {% if request.path == '/uc/order/' %}style="color: #0070ff"{% else %}style="color: #0a274e"{% endif %}><b>我的订单</b></a></li>
            <li role="presentation" ><a href="{{ uc_myhouse }}" {% if request.path == '/uc/myhouse/' %}style="color: #0070ff"{% else %}style="color: #0a274e"{% endif %}><b>我的房源</b></a></li>
            </ul>
          </div>
        </div>
      </aside>
      <aside class="profile-info col-lg-9">
          <section>
              <div class="row">
                {% block uc_content %}
                  <div class="col-lg-12">
                      <div class="panel">
                          <div class="panel-body">
                              <div class="bio-chart">
                                  <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="35" data-fgColor="#e06b7d" data-bgColor="#e8e8e8">
                              </div>
                              <div class="bio-desk">
                                  <h4 class="red">Envato Website</h4>
                                  <p>Started : 15 July</p>
                                  <p>Deadline : 15 August</p>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endblock %}
              </div>
          </section>

      </aside>
    </div>
</div>

{% endblock %}
{% block load_js %}
  <script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
  <script>
      //knob
      $(".knob").knob();
  </script>
{% endblock %}