body
{
	background-color: #F8F8F8;
	font-family: "微软雅黑";
	
}

.content{
	background-color: #fff;
	margin: 0px auto;
	overflow: auto;
	width: 1000px;
	border: 1px solid #ddd;
	/*margin-bottom: 179px;*/
}
.am-tabs-nav{
	font-weight: bold;
}
.am-form-field{
background-color:#fff	
}
.logo
{
	margin: 0 auto;
	width: 1000px;
}
.right{
	background-image: url(../img/right.png);
    height: 20px;
    width: 20px;
    float: left;
    background-repeat: no-repeat;
    margin-left: -120px;
    margin-top: 15px;
}
.left1{
	position: absolute;
	background-image: url(../img/phone.png);
	height: 25px;
	width: 30px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	margin-top: 20px;
	left:21px
}

.left2{
	position: absolute;
	background-image: url(../img/massage.png);
	height: 25px;
	width: 30px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	margin-top: 24px;
	left:21px
}

.left3{
	position: absolute;
	background-image: url(../img/passworld.png);
	height: 25px;
	width: 30px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	margin-top: 22px;
	left:21px
}

.left4{
	position: absolute;
	background-image: url(../img/sj.png);
	height: 25px;
	width: 21px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	margin-top: 22px;
	left:30px
}